<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
  <package id="squirrel.windows" version="2.0.1" targetFramework="net472" />
</packages>